<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       </head>
<body>
    <h1 class = 'alert alert-danger'>Project bisc</h1>
<h1>count homepage</h1>
<h2>{{ text }} has total
{{count}} word(s)</h2>
{{word_dict}}

{{word_count_list}}
{% for k,v in word_count_list %}
<h3>{{ k }} -> {{ v }}</h3>
<br/>
{% endfor %}
<a href ={% url 'home' %}><h3>Return</h3></a>
</body>